main = ".open-next/worker.js"
name = "colorazzo"
compatibility_date = "2025-12-19"
compatibility_flags = ["nodejs_compat"]

[observability]
enabled = true

[assets]
directory = ".open-next/assets"
binding = "ASSETS"
